/* border radius */
.rounded_none {
	border-radius: 0rem;
}
.rounded_md {
	border-radius: 0.375rem;
}
.rounded_sm {
	border-radius: 0.125rem;
}
.rounded_lg {
	border-radius: 0.5rem;
}
.rounded_xl {
	border-radius: 0.75rem;
}
.rounded_2xl {
	border-radius: 1rem;
}
.rounded_full {
	border-radius: 9999px;
}
