/* 
	     		skew css styles only applies to screens of 640px and up 
*/
@media (min-width: 640px) {
	.right3 {
		transform: skewX(-3deg);
	}

	.right6 {
		transform: skewX(-6deg);
	}

	.right12 {
		transform: skewX(-12deg);
	}
}
