/* 
	     		toast text alignment for mobile screens 
*/
.justify_end,
.justify_start,
.justify_center,
.text_start,
.text_end,
.text_center {
	justify-content: center;
	text-align: center;
}

/* 
	     		toast text alignment from 640px and up 
*/
@media (min-width: 640px) {
	.justify_end {
		justify-content: end;
		text-align: start;
	}
	.justify_start {
		justify-content: flex-start;
		text-align: end;
	}
	.justify_center {
		justify-content: center;
		text-align: center;
	}

	.text_start {
		justify-content: flex-start;
		text-align: start;
	}
	.text_end {
		justify-content: flex-end;
		text-align: end;
	}
	.text_center {
		justify-content: center;
		text-align: center;
	}
}
